body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background-color: rgb(194, 224, 214);
}

.element {
  cursor: grab;
  height: 70px;
  width: 70px;
  background-color: blue;
}
